
/*Style for Cards*/
.card:hover{
cursor: pointer;
box-shadow: 0px 12px 15px 10px #333;
transition:all 0.3s;
}

  /*Added margin to left side of text to move it away from the edge of the margin*/
  .navbar-brand{
    margin-left: 30px;
  }

/*Style for the items inside the NavBar*/
/*Style for NAVIGATION BAR - added green hover effect with pointer cursor*/
.nav-item{
   cursor:pointer;
   list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    float: left;
}

.nav-item::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #198754;
    display: block;
    margin: left;
    transition: 0.5s;
}

.nav-item:hover::after{
    width: 100%;
}

/*Styling for the Jumbotron*/
.jumbotron {
    background-size: cover;
    height:900px;
    margin-top: 30px;
  }

.card{
    margin-left:auto;
    margin-right: 550px;
}

/*Media query for viewport sizes 425px-1024px*/
@media screen and (max-width:1024px) {
  .card {
    margin-left: 300px;
  }
}

@media screen and (max-width:768px) {
  .card{
  margin-left:178px;
  }
}

@media screen and (max-width:425px) {
.card {
margin-left: 600px;
}
  }
