/*Added margin to left side of text to move it away from the edge of the margin*/
  .navbar-brand{
    margin-left: 30px;
  }

  .navbar{
    width: 100%;
  }

/*Style for the items inside the NavBar*/
/*Style for NAVIGATION BAR - added green hover effect with pointer cursor*/
.nav-item{
   cursor:pointer;
   list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    float: left;
}

.nav-item::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #198754;
    display: block;
    margin: left;
    transition: 0.5s;
}

.nav-item:hover::after{
    width: 100%;
}

/*Styling for the Jumbotron*/
.jumbotron {
    background-size: cover;
    height:900px;
    margin-top: 20px;
  }

  .jumbotron img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    background-color: rgb(62, 62, 62);
  }

  /*Style for the Carousel Images*/
.carousel-inner{
  margin-left: 565px;
}

  /*Style for the Contents*/
#container{
  text-align: start;
  padding-left: 5%;
  padding-right: 5%;
}

 /*Style for the cards under experience*/
#experience{
  text-align: center;
}
.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  width: 330px;
  height: 498px;
  margin: 10px;
  background:#198754;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}

.container p{
  text-align: left;
}

.card:hover{
  background-color: rgb(62, 62, 62);
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}




/*Media query for viewport sizes 425px-1024px*/
@media screen and (max-width:1024px) {
#Job 3{
  justify-content: center;
}
}

@media screen and (max-width:768px) {
  .card{
  margin-left:178px;
  }
}

/*Need to fix the image to center it at 425px or less*
@media screen and (max-width:425px) {
  .card {
justify-content: center;
align-items: center;}
  }


